html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent;
  color: inherit;
  text-decoration: none; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-250px, 0, 0);
            transform: translate3d(-250px, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-250px, 0, 0);
            transform: translate3d(-250px, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(-250px, 0, 0);
            transform: translate3d(-250px, 0, 0);
    visibility: hidden; } }

@keyframes slideOutLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(-250px, 0, 0);
            transform: translate3d(-250px, 0, 0);
    visibility: hidden; } }

* {
  box-sizing: border-box; }

body:after {
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: auto;
  padding: 0;
  position: fixed;
  top: 0;
  transition: all 0.4s ease;
  width: 100%; }

body.open {
  overflow: hidden; }

body.open:after {
  opacity: 1;
  visibility: visible; }

.b-nav {
  position: fixed;
  z-index: 11; }
  .b-nav:not(.open) {
    visibility: hidden; }
  .b-nav li {
    color: #444444;
    list-style-type: none;
    padding: 10px;
    text-align: left;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px); }
  .b-nav li:not(.open) {
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-name: slideOutLeft;
            animation-name: slideOutLeft; }
  .b-nav li:first-child {
    padding-top: 120px; }
  .b-nav.open {
    visibility: visible; }
    .b-nav.open li {
      -webkit-animation-duration: 0.4s;
              animation-duration: 0.4s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-name: slideInLeft;
              animation-name: slideInLeft; }

.b-link {
  background: transparent;
  border-left: rgba(68, 68, 68, 0) solid 2px;
  color: #444444;
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  font-weight: 300;
  margin-right: 90px;
  text-decoration: none;
  transition: all 0.4s ease;
  width: auto; }
  .b-link:hover, .b-link--active {
    border-left: #444444 solid 2px;
    padding-left: 30px; }

.b-menu {
  background: white;
  border: white solid 2px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  padding-left: 15.5px;
  padding-top: 17.5px;
  position: fixed;
  transition: all 0.4s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 60px;
  z-index: 12; }
  .b-menu:hover {
    border: #444444 solid 2px; }

.b-bun {
  background: #444444;
  position: relative;
  transition: all 0.4s ease; }
  .b-bun--top {
    height: 2px;
    top: 0;
    width: 25px; }
  .b-bun--mid {
    height: 2px;
    top: 8px;
    width: 25px; }
  .b-bun--bottom {
    height: 2px;
    top: 16px;
    width: 25px; }

.b-container {
  height: 60px;
  right: 90px;
  position: absolute;
  top: 30px; }
  .b-container:hover:not(.open) .bun-top,
  .b-container:hover:not(.open) .bun-mid,
  .b-container:hover:not(.open) .bun-bottom {
    background: white; }
  .b-container.open .b-main {
    border: #444444 solid 2px; }
  .b-container.open .b-bun--top {
    background: #444444;
    top: 9px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .b-container.open .b-bun--mid {
    opacity: 0; }
  .b-container.open .b-bun--bottom {
    background: #444444;
    top: 5px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

body {
  font-family: 'Inconsolata', monospace; }

.main {
  height: 100vh; }

.intro, .github, .contact, .diu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  size: cover;
  position: center;
  height: inherit; }

.intro {
  background-color: Pink; }

.github {
  background-color: Coral; }

.diu {
  background-image: url("/images/diu_piu.jpg");
  background-position: center;
  background-size: cover; }

.contact {
  background-color: PaleVioletRed; }

p {
  max-width: 400px;
  font-size: 1.4em;
  color: AliceBlue; }

.disclaimer {
  margin-top: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: right; }

a {
  color: DarkSlateBlue; }
