<div class="bar">
  <ul class="skills">
    <li class="twenty">AJAX</li>
    <li class="thirty">Angular</li>
    <li class="fifty">CSS</li>
    <li class="ten">Express</li>
    <li class="sixty">HTML</li>
    <li class="forty">JS</li>
    <li class="forty">JQuery</li>
    <li class="thirty">JSON</li>
    <li class="ten">MongoDB</li>
    <li class="ten">Node</li>
    <li class="twenty">Postgres</li>
    <li class="fifty">Ruby</li>
    <li class="fifty">RoR</li>
    <li class="forty">Bread</li>
  </ul>
</div>
