<footer role="contentinfo">
  <ul>
    <li><a href="https://github.com/kbejko" target="_blank">GitHub</a></li>
    <li><a href="https://twitter.com/klazhdi" target="_blank">Twitter</a></li>
    <li><a href="mailto:kbejko@gmail.com?subject=Hi Klajdi&amp;body=How do you pronounce your name? ...">Email</a></li>
  </ul>
</footer>

<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

<script defer src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script defer src="/js/main.js"></script>
