<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Klajdi</title>
    <link rel="icon" type="image/png" href="../images/diu_piu.jpg">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Personal website. Hopefully it'll include projects, writing, and whatever comes to mind.">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cssgram-cssgram.netdna-ssl.com/cssgram.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
</head>
