<div class="nav">
    <li class="first">
      <a class="down" href="#projects">&#9759;</a>
      <a class="up" href="#home">&#9757;</a>
    </li>
    <li class="second">
      <a class="down" href="#diu">&#9759;</a>
      <a class="up" href="#projects">&#9757;</a>
    </li>
    <li class="third">
      <a class="down" href="#contact">&#9759;</a>
      <a class="up" href="#diu">&#9757;</a>
    </li>
    <li class="fourth">
      <a class="down" href="#home">&#9759;</a>
      <a class="up" href="#diu">&#9757;</a>
    </li>
</div>
