@keyframes bar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.bar {
  margin: 5%;

  ul {
    max-width: 100%;
    max-height: 100%;
    text-align: right;
    li {
      list-style: none;
      font-size: 0.8em;
      margin: 5px;
      color: black;
    }
  }

  .start {
    animation-name: bar;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.26, 0, 0.58, 1);
  }

  .ten {
    width: 10%;
    background-color: paleturquoise;
    text-indent: 12%;
  }
  .twenty {
    width: 20%;
    background-color: plum;
    text-indent: 22%
  }
  .thirty {
    width: 30%;
    background-color: pink;
    text-indent: 33%;
  }
  .forty {
    width: 40%;
    background-color: cornflowerblue;
    text-indent: 44%;
  }
  .fifty {
    width: 50%;
    background-color: ghostwhite;
    text-indent: 55%;
  }
  .sixty {
    width: 60%;
    background-color: mediumspringgreen;
    text-indent: 66%;
  }

}

// @media only screen and (max-height: 364px) {
//   ul {
//     max-height: 50%;
//   }
// }
