nav {
  position: absolute;
  top: 1rem;
  right: 1rem;


  li {
    display: inline-block;
    margin-left: 1em;
  }

  a {
    color: LightSkyBlue;
    text-decoration: none;

      &:hover {
        color: LightSteelBlue;
      }
      &.active {
        color: LightSalmon;
      }
  }
}
