.nav {
  position: fixed;
  list-style: none;
  right: 30px;
  top: 30px;

  li, a {
    margin-top: 10px;
    .active {
      border-left: 3px solid snow;
      padding-left: 10px;
    }
    &:hover {
      color: snow;
    }
  }
}
