@import "reset";
@import "nav";

body {
  font-family: 'Inconsolata', monospace;
  line-height: 1.3;
}

section {
  height: 100vh;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  size: cover;
  position: center;
  height: inherit;
}

.intro {
  background-color: Pink;
}
.github {
  background-color: Coral;
}
.diu {
  background-image: url('/images/diu_piu.jpg');
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.contact {
  background-color: PaleVioletRed;
}

.content {
  max-width: 360px;
  font-size: 1.1em;
  color: AliceBlue;
  padding: 0 25px 0 25px;
}
.disclaimer {
  font-size: 0.8em;
  margin-bottom: 5px;
}
a {
  color: darkslateblue;
}
