@import 'reset';

body {
  font-family: 'Inconsolata', monospace;
}

.main {
  height: 100vh;
}
.intro, .github, .contact, .diu, {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  size: cover;
  position: center;
  height: inherit;
}
.intro {
  background-color: Pink;
}
.github {
  background-color: Coral;
}
.diu {
  background-image: url('/images/diu_piu.jpg');
  background-position: center;
  background-size: cover;
}
.contact {
  background-color: PaleVioletRed;
}

p {
  max-width: 400px;
  font-size: 1.4em;
  color: AliceBlue;
}
.disclaimer {
  margin-top: 50px;
  display: flex;
  text-align: right;
}
